@page "/EpicosPorSprint"

@using ClienteJiraBlazor.Data
@inject ServicoTarefa servicoTarefa
@inject ServicoEpico servicoEpico

<h1>Épicos e Tarefas por sprint</h1>

<div class="row">
	<div class="col-2 border">Épico</div>
	<div class="col-3 border">Tarefa</div>
	<div class="col border">SEG</div>
	<div class="col border">TER</div>
	<div class="col border">QUA</div>
	<div class="col border">QUI</div>
	<div class="col border">SEX</div>
</div>

@if (epicos == null)
{
	<p><em>Loading...</em></p>
}
else
{
	@foreach (var e in epicos)
	{
		<div class="row">
			<div class="col-2 border">@e.Nome</div>
			<div class="col">
				@foreach (var t in e.Tarefas)
				{
					<div class="row">
						<div class="col-3 border">@t.Nome</div>
						@for (int i = 0; i < 5; i++)
						{
							<div class="col border">
								@foreach (var apont in t.Apontamentos)
								{
									if (apont.Data.Value.Date == sprint.Inicio.Value.Date.AddDays(i))
									{
										<div class="row">@(apont.Tempo / 3600)h</div>
									}
								}
							</div>
						}
					</div>
				}
			</div>
		</div>
	}
}



@code {
	public Sprint sprint { get; set; }
	private List<Epico> epicos;

	protected override async Task OnInitializedAsync()
	{
		sprint = new Sprint(583, "NUAGIL Sprint 127 1411-1811", new DateTime(2022, 11, 14), new DateTime(2022, 11, 18), Negocio.Modelos.Entidades.Enum.EnumSprint.Ativa);
		epicos = await servicoEpico.BuscarEpicosComTarefasPorSprint(sprint.Id, "marcos.medeiros@interfusaoti.com.br");
	}
}
