@page "/EpicosPorSprint"
@using Blazorise.DataGrid
@inject ServicoTarefa servicoTarefa

<h2>ÉPICOS E TAREFAS DA SPRINT</h2>
<br><br>
@if (chavesEpicos == null)
{
	<p><em>Loading...</em></p>
}
else
{
	@foreach (string chave in chavesEpicos)
	{

		<ApontamentoPorEpico chaveEpico="@chave" sprint="@sprint"
	tarefas="@tarefas.Where(t => t.Epico != null && t.Epico.Chave == chave).ToList()"></ApontamentoPorEpico>
		<br>
	}
}





@code {
	public Sprint sprint { get; set; }
	private List<Tarefa> tarefas;
	private List<string> chavesEpicos;

	protected override async Task OnInitializedAsync()
	{
		sprint = new Sprint(583, "NUAGIL Sprint 127 1411-1811", new DateTime(2022, 11, 14), new DateTime(2022, 11, 18),
		Negocio.Modelos.Entidades.Enum.EnumSprint.Ativa);
		tarefas = await servicoTarefa.BuscarTarefasPorSprint(sprint.Id, "marcos.medeiros@interfusaoti.com.br");
		//chavesEpicos = (from t in tarefas where t.Epico != null select t.Epico.Chave).Distinct().ToList();
		chavesEpicos = tarefas.Where(t => t.Epico != null).Select(t => t.Epico.Chave).Distinct().ToList();
	}
}
