@inject ServicoEpico servicoEpico

	@if (epico == null)
	{
		<p>Carregando...</p>
	}
	else
	{

		<h4>@epico.Nome</h4>
		<div class="row row-cols-3 g-3">

			@foreach (var t in tarefas)
			{
				  <div class="col">
				<TarefaApontamentoPorEpico chaveTarefa="@t.Chave" sprint="@sprint"></TarefaApontamentoPorEpico>
				  </div>
			}
	  
		</div>
	}

@code {
	[Parameter]
	public string chaveEpico { get; set; }

	[Parameter]
	public Sprint sprint { get; set; }

	[Parameter]
	public List<Tarefa> tarefas { get; set; }

	private Epico epico;

	protected override async Task OnInitializedAsync()
	{
		epico = await servicoEpico.BuscarEpico(chaveEpico);
	}
}
